*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: bisque;
    color: crimson;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width : 1600px) {
    .main{
        background-color: rgb(225, 255, 31);
        color: rgb(84, 46, 0);
    }
}

@media only screen and (max-width : 1400px) {
    .main{
        background-color: rgb(255, 127, 232);
        color: rgb(1, 3, 124);
    }
}

@media only screen and (max-width : 1200px) {
    .main{
        background-color: rgb(172, 255, 127);
        color: rgb(243, 38, 38);
    }
}

@media only screen and (max-width : 1000px) {
    .main{
        background-color: rgb(94, 72, 255);
        color: rgb(249, 59, 59);
    }
}

@media only screen and (max-width : 900px) {
    .main{
        background-color: aquamarine;
        color: black;
    }
}

@media only screen and (max-width : 700px) {
    .main{
        background-color: rgb(12, 243, 255);
        color: rgb(210, 114, 114);
    }
}